:root {
    --text-color: #FFF;
    --font: "JetBrainsMono Nerd Font", "JetBrains mono", monospace;
    --background-color: #212124;
    --night-blue: #2d545e;
    --night-blue-shadow: #12343b;
    --sand-tan: #e1b382;
    --sand-tan-shadow: #c89666;
}


body {
  font-family: var(--font);
  max-width: 700px;
  margin: 2rem auto;
  padding: 0 1rem;
  line-height: 1.6;
  color: var(--text-color);
  background: var(--night-blue);
}

a {
    text-decoration: none;
    color: var(--color-links);
}
